@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    font-family: var(--font-inter, sans-serif);
  }
  [dir="rtl"] {
    font-family: var(--font-tajawal, sans-serif);
  }
}
button,
a,
select {
  cursor: pointer;
}
